.page
{
    width: 1024px;
    margin: auto;
    height: 100%;
}

.page__wrapper {
    position: relative;
    /*width: 1024px;*/
    margin: 0 auto 0px auto;
    border: 1px solid;
    min-height: 100%;
    padding-bottom: 140px;
}

.page__header {
    height: 50px;
    text-align: center;
    background-color: #4D4441;
}

.page__header .logo {
}

.logo__image {
    margin-top: 8px;
}

.page__header .employee-holder {
    position: absolute;
    top: 15px;
    right: 32px;
    cursor: pointer;
}

.page__header .employee-holder__image {
    width: 37px;
    height: 37px;
    margin-top: -9px;
}

.employee-holder__name {
    color: #ffffff;
}

.employee-holder .paper-fold {
    border-width: 11px 11px 0 0;
    border-color: #4D4441 #4D4441 transparent transparent;
}

.dropdown {
    position: absolute;
    width: 161px;
    left: 0px;
    top: 35px;
    font-family: 'maven_pro_medium';
    background-color: #ffffff;
    border: 1px solid #636467;
    z-index: 10;
}

.dropdown__items {
    display: block;
    padding: 12.5px;
    text-decoration: none;
    list-style-type: none;
}

.employee-holder__dropdown_myinfo .paper-fold,
.employee-holder__dropdown_logout .paper-fold {
    top: 21px;
    border-width: 18px 18px 0 0;
    border-color: #317CC0 #ffffff transparent transparent;
}

.employee-holder__dropdown_logout .paper-fold {
    top: 60px;
}
.dropdown__items_myinfo:hover,
.dropdown__items_logout:hover {
    background-color: #ef5c40;
    color: #ffffff;
}

.employee-holder__dropdown_myinfo:hover .paper-fold_myinfo,
.employee-holder__dropdown_logout:hover .paper-fold_logout {
    display: block;
}

.page__sidebar {
    width: 168px;
    float: left;
    background-color: #4D4441;
}

.sidenav__item {
    position: relative;
    padding-top: 23px;
    padding-bottom: 22px;
    cursor: pointer;
}

.sidenav__item a {
    padding-left: 30px;
    font-family: 'maven_pro_regular';
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.sidenav__item_active {
    position: absolute;
    width: 168px;
    height: 65px;
    top: 0px;
    background-color: #317CC0;
}

.admin .sidenav__item_active {
    background-color: #6c8669 !important;
}

.sidenav__item_active .g-icon {
    position: absolute;
}

.page_myrequests .my-requests,
.page_dashboard .dashboard,
.page_myinfo .dashboard,
.page_applyleave .dashboard,
.page_notifications .notifications,
.page_directory .directory,
.page_policy .policy,
.page_settings .settings {
    display: block;
}

.paper-fold {
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: 0px;
    right: 0px;
    border-style: solid;
    border-width: 29px 29px 0 0;
    border-color: #ef5c40 #4D4441 transparent transparent;
}

.page__content {
    width: 802px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
    float: left;
}

.breadcrumb {
    width: 854px;
    margin-bottom: 25px;
    padding: 2px 0px 2px 25px;
    float: left;
    background-color: #317CC0;
}

.breadcrumb_admin {
    background-color: #6c8669;
}

.breadcrumb .current-page {
    text-transform: capitalize;
}

.breadcrumb__item a {
    font-family: 'maven_pro_regular';
    font-size: 16px;
    color: #ffffff;
}

.page__quick-control {
    width: 854px;
    margin-bottom: 20px;
    padding-left: 25px;
    float: left;
}

.page__quick-control h1 {
    font-size: 50px;
    margin: 0;
    color: #636466;
    text-transform: capitalize;
}

.page__quick-control a {
    text-decoration: none;
}

.page-holder {
    margin-bottom: 25px;
}

.link-holder .calender {
    width: 46px;
    float: right;
    margin-right: 25px;
}

.page__footer {
    position: relative;
    height: 100px;
    background-color: #4D4441;
    margin-top:-100px;
}

.page__footer .logo {
    margin-left: 30px;
    padding-top: 27px;
    vertical-align: middle;
}

.copyright {
    position: absolute;
    right: 30px;
    top: 40px;
    color: #ffffff;
}




.thumb-fold::after
{
    position: absolute;
    width: 0px;
    height: 0px;
    right: 0px;
    bottom:0px;
    content :" ";
}

.thumb-fold::after
{
    border-style: solid;
    border-width: 29px 29px 0 0;
    border-color: #EF5C40 #4D4441 transparent transparent;
}


.thumb-fold.annual::after
{
    border-color: #F7941E transparent transparent transparent;
}
.thumb-fold.casual::after
{
    border-color: #86C76B transparent transparent transparent;
}
.thumb-fold.business-trip::after
{
    border-color: #7E67AD transparent transparent transparent;
}
.thumb-fold.casual-probation::after
{
    border-color: #5EC4B4 transparent transparent transparent;
}
.thumb-fold.sick::after
{
    border-color: #F06879 transparent transparent transparent ;
}
.thumb-fold.maternity::after
{
    border-color: #D2403E transparent transparent transparent;
}

/*Profile thumbs*/
/*TODO :: Need ie specific classes*/
#dashboard-notification-view-holder .thumb-fold::after
{
    border-style: solid;
    border-width: 18px 18px 0 0;
    border-color: #F7941E #FFFFFF transparent transparent;
}
    
#notification-page .thumb-fold::after
{
    bottom:-1px;
}

#dashboard-notification-view-holder .thumb-fold.annual::after,
#notification-page .thumb-fold.annual::after
{
    border-color: #F7941E #FFFFFF transparent transparent;
}
#dashboard-notification-view-holder .thumb-fold.casual::after,
#notification-page .thumb-fold.casual::after
{
    border-color: #86C76B #FFFFFF transparent transparent;
}
#dashboard-notification-view-holder .thumb-fold.buisness-trip::after,
#notification-page .thumb-fold.buisness-trip::after
{
    border-color: #7E67AD #FFFFFF transparent transparent;
}
#dashboard-notification-view-holder .thumb-fold.casual-probation::after,
#notification-page .thumb-fold.casual-probation::after
{
    border-color: #5EC4B4 #FFFFFF transparent transparent;
}
#dashboard-notification-view-holder .thumb-fold.sick::after,
#notification-page .thumb-fold.sick::after
{
    border-color: #F06879 #FFFFFF transparent transparent ;
}

#dashboard-notification-view-holder .thumb-fold.maternity::after,
#notification-page .thumb-fold.maternity::after
{
    border-color: #D2403E #FFFFFF transparent transparent ;
}


/*IE specific Conditional classes for Before After affect with Paper fold*/

/*Large Leave circle thumbs thumbs*/
.ie8 .thumb-fold:after
{
    position: absolute;
    width: 0px;
    height: 0px;
    right: 0px;
    bottom:0px;
    content :" ";
}


.ie8 .thumb-fold:after
{
    border-style: solid;
    border-width: 29px 29px 0 0;
    border-color: #EF5C40 #4D4441 transparent transparent;
}


.ie8 .thumb-fold.annual:after
{
    border-color: #F7941E transparent transparent transparent;
}
.ie8 .thumb-fold.casual:after
{
    border-color: #86C76B transparent transparent transparent;
}
.ie8 .thumb-fold.buisness-trip:after
{
    border-color: #7E67AD transparent transparent transparent;
}
.ie8 .thumb-fold.casual-probation:after
{
    border-color: #5EC4B4 transparent transparent transparent;
}
.ie8 .thumb-fold.sick:after
{
    border-color: #F06879 transparent transparent transparent ;
}

.ie8 .thumb-fold.maternity:after
{
    border-color: #D2403E #FFFFFF transparent transparent ;
}


/*End thumbs*/

// Ie Profile thumb folds

.ie8 #dashboard-notification-view-holder .thumb-fold:after
{
    border-style: solid;
    border-width: 18px 18px 0 0;
    border-color: #F7941E #FFFFFF transparent transparent;
}

.ie8 #notification-page .thumb-fold:after
{
    bottom:-1px;
}

.ie8 #dashboard-notification-view-holder .thumb-fold.annual:after,
.ie8 #notification-page .thumb-fold.annual:after
{
    border-color: #F7941E #FFFFFF transparent transparent;
}

.ie8 #dashboard-notification-view-holder .thumb-fold.casual:after,
.ie8 #notification-page .thumb-fold.casual:after
{
    border-color: #86C76B #FFFFFF transparent transparent;
}
.ie8 #dashboard-notification-view-holder .thumb-fold.buisness-trip:after,
.ie8 #notification-page .thumb-fold.buisness-trip:after
{
    border-color: #7E67AD #FFFFFF transparent transparent;
}
.ie8 #dashboard-notification-view-holder .thumb-fold.casual-probation:after,
.ie8 #notification-page .thumb-fold.casual-probation:after
{
    border-color: #5EC4B4 #FFFFFF transparent transparent;
}
.ie8 #dashboard-notification-view-holder .thumb-fold.sick:after,
.ie8 #notification-page .thumb-fold.sick:after
{
    border-color: #F06879 #FFFFFF transparent transparent ;
}

.ie8 #dashboard-notification-view-holder .thumb-fold.maternity:after,
.ie8 #notification-page .thumb-fold.maternity:after
{
    border-color: #D2403E #FFFFFF transparent transparent ;
}

// End IE specific classes


/*Notifications page*/
#notification-page .thumb-fold::after
{
    border-style: solid;
    border-width: 15px 15px 0 0;
}

.notification-group.today .thumb-fold::after
{
    border-right-color: #E0EBF6 !important;
}

.admin .notification-group.today .thumb-fold::after
{
    border-right-color: #F0F3F0 !important;
}


.tpl-item_userrole
{
    font-weight: 600;
}

.tpl-item_userrole.userrole_admin
{
    color:#6C8669;
}

.tpl-item_userrole.userrole_employee
{
    color:#447EBF;
}

.leave_
{

}

.page__content .g-dropdown
{
    -webkit-appearance: none;
    border-radius: 0;
    overflow: hidden;
    background: url(/static/leavebuddyapp/resources/images/dropdown-arrow.png) no-repeat right #FFFFFF;
}