
@font-face {
    font-family: 'maven_pro_bold';
    src: url('../fonts/maven_pro_bold-webfont.eot');
    src: url('../fonts/maven_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/maven_pro_bold-webfont.woff') format('woff'),
        url('../fonts/maven_pro_bold-webfont.ttf') format('truetype'),
        url('../fonts/maven_pro_bold-webfont.svg#maven_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'maven_pro_medium';
    src: url('../fonts/maven_pro_medium-webfont.eot');
    src: url('../fonts/maven_pro_medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/maven_pro_medium-webfont.woff') format('woff'),
        url('../fonts/maven_pro_medium-webfont.ttf') format('truetype'),
        url('../fonts/maven_pro_medium-webfont.svg#maven_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'maven_pro_regular';
    src: url('../fonts/maven_pro_regular-webfont.eot');
    src: url('../fonts/maven_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/maven_pro_regular-webfont.woff') format('woff'),
        url('../fonts/maven_pro_regular-webfont.ttf') format('truetype'),
        url('../fonts/maven_pro_regular-webfont.svg#maven_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'blackjackregular';
    src: url('../fonts/black_jack-webfont.eot');
    src: url('../fonts/black_jack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/black_jack-webfont.woff') format('woff'),
         url('../fonts/black_jack-webfont.ttf') format('truetype'),
         url('../fonts/black_jack-webfont.svg#blackjackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}