html, body,
ul, ol, li,
dl, dt, dd,
h1, h2, h3, h4, h5,
p, blockquote,
form, fieldset, legend,
table, td, th{
	margin:0;
	padding:0;
        line-height: 1 !important;
}

.div
{
    line-height: 1 !important;
}

article,
section,
header,
nav,
footer {
	display: block;
}

.lte-ie7 div,
.lte-ie7 header,
.lte-ie7 footer,
.lte-ie7 nav {
	zoom: 1;
}

html,
body{
	width:100%;
	height:100%;
	background: #fff;
        line-height: 1 !important;
}

body {
	color: #333;
	font: normal 87.45%/1.4 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: left;
}

img,
.node .content img{
	border:0;
	margin: 0;
	padding: 0;
}

img.left{
	float:left;
	margin-right:15px;
}

img.right{
	float:right;
}

p, dl{
	margin-bottom: 1.2em;
}

p.closer{
	margin-top:-0.7em;
}

.g-before-list {
	margin-bottom: 0.9em;
}
.g-ver-mid{
    vertical-align: middle;
}

ul{
	list-style-type:none;
}

.cblock ul,
.page__content-inner ul,
.products ul {
	margin-bottom: 2em;
	margin-left: 2em;
	list-style-position: outside;
	list-style-type: disc;
}

ol{
	margin-bottom: 1em;
}

ol li {
	margin-bottom: .5em;
}

ol li li{
	margin-bottom:0.5em;
}

ol>li{
	margin-left:2.5em;
}

ol ol {
	margin: 0.5em 0 1.5em 0;
	text-indent: 0;
}

p+ul,
p+ol{
	margin-top:-0.5em;
}


dl {
	margin-left: 29px;
	margin-top: 46px;
}

dt {
	color: #111;
	font-weight: 600;
	padding-left: 29px;
}

dd {
	margin-left: 30px;
}


table {
	border-collapse: collapse;

}

table td,
table th {
	text-align: left;
	padding: 0.3em 0.5em;
	vertical-align: top;
}

.table_data {
	font-size: 87%;
	margin: 0 0 2em -1em;
}

.table_data th {
	color: #666;
	font-size: 85%;
	font-style: italic;
	padding-left: 1.17em;
	padding-right: 0.6em;
	vertical-align: bottom;
	font-weight: normal
}
.table_data td {
	padding-left: 1em;
}

.table_data .o {
	background: #f9fbfc;
}
.table_data .b_b {
	border-bottom: 1px solid #333;
}
table td.n {
	text-align: right;
}

.table_data .spacer-row {
	height: 5px;
}
.table_data .spacer-row td {
	padding: 0;
}


sup,
sub{
	position:relative;
	top:-0.5em;
	font-size:75%;
	vertical-align:baseline;
}

sub{
	top:0.1em;
}

ins{
	text-decoration: none;
}

hr,
hr.line {
	border: 0;
}

hr.line_form {
	height: 2px;
	margin: 38px 0;
	background-color: #ececed;
}

h1, h2, h3, h4{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #000000;
}

h1 {
	position: relative;
	font-size: 230%;
	margin: .5em 0 .5em;
	line-height: 1.4;
	letter-spacing: .5px;
}

h2{
	font-size: 133.33%;
	margin: 1.2em 0 .5em;
	line-height: 1.2;
}

h1 + h2 {
	margin-top: 0;
}

h3{
	font-size: 100%;
	font-weight: bold;
	margin-bottom: .67em;
}

h4{
	font-size:125%;
	margin-bottom: .5em;
}


input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input::-webkit-input-placeholder { color:#b2b2b2; }
input:-moz-placeholder { color:#b2b2b2; }

label.placeholder {
	display: none;
}

.blink{
	color:#6d6d6d;
}

blockquote {
	font: 133%/1.4 Georgia, serif;
	color: #043F76;
	margin-left: 1.5em;
	margin-bottom: 1em;
}