.g-icon {
    overflow:hidden;
    background:url("icons.png") no-repeat;
}

.g-dropping-icon
{
    overflow:hidden;
    background:url("dropping_items.png") no-repeat;   
}

.g-icon-close
{
    background-position: 0px 0px;
    width: 35px;
    height: 35px;
    position: absolute;
    top: -16px;
    right:-17px;
}

.g-icon_forward,
.g-icon_backward
{
    width: 60px;
    height: 60px;
}

.g-icon_forward
{
    background-position: -121px 0px;
}

.g-icon_backward
{
    background-position: -55px 0px;
}


/*Dropping icons css*/
.g-dropping-icon_lady-sandals
{
    width:65px;
    height: 45px;
    background-position: -37px -37px;
}


.g-icon_clock
{
    background-position: -290px -1px;
    width: 25px;
    height: 25px;
}

.g-icon_star
{
    background-position: -330px -1px;
    width: 25px;
    height: 24px;
    margin-right: 70px;
    margin-top:5px;
}

.g-icon-fblike
{
    background-position: -366px 0px;
    border-radius: 3px;
    width: 80px !important;
    height: 33px !important;
    border-radius: 3px;
    margin: auto;
}

.g-white-star
{
    /*background-position: -454px 0px;*/
    background-position: -483px 0px;
    width: 21px;
    height: 30px;
    margin: 0px 10px;
}