/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 Apr, 2014, 5:47:48 PM
    Author     : Akash-PC
*/

html, body {
    min-height: 100%;
    height: 1px;
}
.viewport, .page , .page__wrapper , .page__content 

{
    /*background-color: orange;*/
    /*    min-height: 100%;
        height: 1px;*/
    color:#BCBCBC;
    font-size: 14px;
}

.page,
.page__wrapper,
.page__content
{
    height: 100%;
}

#page-content_wrapper
{
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: table !important;
}

.page__content
{
    /*padding-top:32px;*/
    font-family: "Arial";
}
